@charset "UTF-8";




.h2-topo{
    color:rgba(7, 7, 176, 0.816);
    margin: 0px 0px 20px ;
    font-family:  "Roboto", sans-serif;
    font-size: 33px;
}

@media (max-width: 380px){
  .h2-topo{
    font-size: 16px;
    
  }
}

.p-curso{
    text-align: center;
    font-family:"Nunito Sans", sans-serif ; 
    margin: -30px 0px 49px ;
        
}
.p-curso{
    font-size: clamp(.8rem, 4.3043rem + 3.4783vw, .1rem);

}
@media  (max-width: 375px){
  .p-curso{
     font-size: clamp(.7rem, 4.3043rem + .4783vw, .5rem);
    }
    
}
p{
  font-family:"Nunito Sans", sans-serif ; 
  margin-top: -10px;
}
p{
    font-size: clamp(1rem, 4.3043rem + 3.4783vw, .1rem);

}
@media  (max-width: 375px){
  p{
     font-size: clamp(0.9rem, 4.3043rem + .4783vw, .5rem);
    }
    
}
.video-youtube{
    margin: 0px -20px -20px -20px;
    padding: 19px 35px 33px 33px;
    padding-bottom: 58%;
    position: relative;
   
  }
.video-youtube > iframe{
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 6%;
  left: 15%;
  width: 73%;
  height: 71%;
}


.playlist-link{
  background-color: rgba(0, 255, 136, 0.993);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content:center;
  width: 200px;
  height: 30px;
  border-radius: 20px;
  padding-top: 7px;
   
 }
.playlist-link:hover {
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff;
    color: #08007580;
     transform: scale(0.9);
     transition-duration: .5s;
}
.playlist-link{
  width:230px ; 
  }
    @media( max-width: 520px ){
    .playlist-link{
      width: 180px;
    }  
} 
.playlist-link:hover{
    transform: scale(0.9);
    }
    @media( max-width: 520px ) {
    .playlist-link:hover{
      width: 190px;
    }
} 

.link-botao{
  text-decoration: none;
  display: flex;
  justify-content:center;
  width: 230px;
  margin: auto;

}

ul{
  font-family:"Roboto", sans-serif ;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #333333;
  font-size: 14px;
  padding-left: 23px;
  font-family: "Roboto", sans-serif ;
}  
